<%- div_id = "gift-#{gift.new_record? ? 'new' : gift.id}" -%>

<div id='<%= div_id %>' class='c-item o-flex-item'>
<%= form_with(:model => [page_user, gift], :local => false, :data => {'replace-target' => div_id}) do |form| %>
  <h2 class='c-item__description'><%= form.text_field :description, :placeholder => 'Enter a description' %></h2>

  <div class='o-flex-container--horizontal'>
    <%= form.label :tags %>:
    <%= text_field_tag 'gift[tag_names]', gift.tag_names.join(' '), :placeholder => 'Enter a space separated list of tags', :class => 'o-flex-grow' %>
  </div>

  <div class='o-flex-container--horizontal'>
    <%= form.label :url, 'Links' %>:
    <%= form.text_field :url, :placeholder => 'Enter a space separated list of URLs', :class => 'o-flex-grow' %>
  </div>

  <div class='o-flex-container--horizontal'>
    <%= form.label :price %>:
    <%= form.text_field :price, :class => 'o-flex-grow' %>
  </div>

  <div class='o-flex-container--horizontal'>
    <%= form.label :multi %>:
    <%= form.check_box :multi %>

<% if current_user != gift.user %>
    <%= form.label :hidden %>:
    <%= form.check_box :hidden %>
<% end %>
  </div>

  <ul class='c-item__actions o-flex-container--horizontal'>
    Actions:
    <li><%= form.submit (gift.new_record? ? 'create' : 'update'), :onClick => 'window.events.showMenu()', :class => 'o-button' %></li>
    <li>
    <%-
      if gift.new_record?
        cancel_func = 'window.gifts.onCancelCreateClicked()'
      else
        cancel_func = "window.gifts.onCancelEditClicked('#{div_id}', '#{user_gift_path(page_user, gift)}')"
      end
    -%>
      <input type='button' class='o-button u-destructive' onClick="<%= cancel_func %>" value='cancel'/>
    </li>
  </ul>
<% end %>
