<%- div_id = "gift-#{gift.new_record? ? 'new' : gift.id}" -%>

<div id='<%= div_id %>' class='c-item'>
<%= form_with(:model => [page_user, gift], :local => false, :data => {'replace-target' => div_id}) do |form| %>
  <h2 class='c-item__description'><%= form.text_field :description, :placeholder => 'Enter a description', :size => 40 %></h2>

  <ul class='o-inline-list'>
    <%= form.label :tags %>:
    <li>
      <%= text_field_tag 'gift[tag_names]', gift.tag_names.join(' '), :placeholder => 'Enter a space separated list of tags', :size => 40 %>
    </li>
  </ul>

  <ul class='o-inline-list'>
    <%= form.label :url, 'Links' %>:
    <li><%= form.text_field :url, :placeholder => 'Enter a space separated list of URLs', :size => 40 %></li>
  </ul>
  <ul class='o-inline-list'>
    <%= form.label :price %>:
    <li><%= form.text_field :price %></li>
  </ul>
  <ul class='o-inline-list'>
    <%= form.label :multi %>:
    <li><%= form.check_box :multi %></li>
  </ul>

<% if current_user != gift.user %>
  <ul class='o-inline-list'>
    <%= form.label :hidden %>:
    <li><%= form.check_box :hidden %></li>
  </ul>
<% end %>

  <ul class='c-item__actions o-inline-list'>
    Actions:
    <li><%= form.submit (gift.new_record? ? 'Create' : 'Update'), :onClick => 'window.events.showMenu()', :class => 'o-button' %></li>
    <li>
    <%-
      if gift.new_record?
        cancel_func = 'window.gifts.onCancelCreateClicked()'
      else
        cancel_func = "window.gifts.onCancelEditClicked('#{div_id}', '#{user_gift_path(page_user, gift)}')"
      end
    -%>
      <button type='button' class='o-button u-destructive', onClick="<%= cancel_func %>">Cancel</button>
    </li>
  </ul>
<% end %>
