<div id='gift-<%= gift.id %>' class='c-item'>

  <h1 class='c-item__description'><%= gift.description %></h1>

  <ul class='o-inline-list'>
    Tags:
    <%- gift.tags.each do |tag| -%>
      <li><%= tag_or_link(tag.name, :class => 'o-button') %></li>
    <%- end -%>
  </ul>

  <ul class='o-inline-list'>
    Links:
    <%- gift.urls.each do |url| -%>
      <li><%= external_link_to url %></li>
    <%- end -%>
  </ul>

  <div>Price: <%= number_to_currency(gift.price) %></div>

  <div>Multi: <%= gift.multi ? 'Yes' : 'No' %></div>

  <% if page_user != current_user %>
  <div>Intent: <%= intent(gift) %></div>
  <% end %>

  <ul class='o-inline-list'>
    Actions:
    <%- if gift.givable_by?(current_user) -%>
      <li><%= link_to('will', will_user_gift_path(page_user, gift), :method => :post, :class => 'o-button') %></li>
    <%- end -%>

    <%- if gift.given_by?(current_user) or admin_can_remove?(gift) -%>
      <li><%= delete_link_to wont_user_gift_path(page_user, gift), :text => "won't", :class => 'o-button' %></li>
    <%- end -%>

    <%- if gift.editable_by?(current_user) -%>
      <li><%= link_to 'edit', edit_user_gift_path(page_user, gift), :rel => 'nofollow', :class => 'o-button' %></li>
      <li>
        <%= delete_link_to user_gift_path(page_user, gift), :text => 'remove', :class => 'o-button u-destructive',
                                                            :confirm => 'Are you sure you want to remove this gift?'
        %>
      </li>
    <%- end -%>
  </ul>
</div>
