<div id='gift-<%= gift.id %>' class='c-item o-flex-item'>

  <h2 class='c-item__description'><%= h gift.description %></h2>

  <div>
    <label>Tags:</label>
    <%- gift.tags.each do |tag| -%>
      <span><%= tag_or_link(tag.name, :class => 'o-button') %></span>
    <%- end -%>
  </div>

  <div>
    <label>Links:</label>
    <%- gift.urls.each do |url| -%>
      <span><%= external_link_to url rescue '' %></span>
    <%- end -%>
  </div>

  <div>
    <label>Price:</label>
    <span><%= number_to_currency(gift.price) %></span>
  </div>

  <div>
    <label>Multi:</label>
    <span><%= gift.multi ? 'Yes' : 'No' %></span>
  </div>

  <% if page_user != current_user %>
  <div>
    <label>Intent:</label>
    <span><%= intent(gift) %></span>
  </div>
  <% end %>

  <ul class='c-item__actions o-flex-inline'>
    Actions:
    <%- if gift.givable_by?(current_user) -%>
      <li><%= link_to('will', will_user_gift_path(page_user, gift), :method => :post, :class => 'o-button') %></li>
    <%- end -%>

    <%- if gift.given_by?(current_user) or admin_can_remove?(gift) -%>
      <li><%= delete_link_to wont_user_gift_path(page_user, gift), :text => "won't", :confirm => '', :class => 'o-button' %></li>
    <%- end -%>

    <%- if gift.editable_by?(current_user) -%>
      <li><%= link_to_function 'edit', "window.gifts.onEditClicked(#{gift.id}, '#{edit_user_gift_path(page_user, gift)}')", :rel => 'nofollow', :class => 'o-button' %></li>
      <li>
        <%= delete_link_to user_gift_path(page_user, gift), :text => 'remove', :class => 'o-button u-destructive',
                                                            :confirm => 'Are you sure you want to remove this gift?'
        %>
      </li>
    <%- end -%>
  </ul>
</div>
