<h1><%= (current_user != page_user) ? possessivize(page_user.display_name) : 'My' %> Gifts</h1>

<div id='gift__notes'>
  <h2>Notes</h2>
  <pre><%= page_user.notes %></pre>
</div>

<ul id='gift__menu' class='c-item__actions o-flex-item--cenered o-flex-container--horizontal'>
  <li><%= link_to_function 'New', "App.gifts.onNewClicked('#{new_user_gift_path(page_user)}')", :class => 'o-button' %></li>
  <li><%= link_to 'Export', user_gifts_path(page_user, :format => 'csv'), :class => 'o-button' %></li>
  <%- if params[:tag] -%>
  <li>Tagged:
    <%= link_to(url_for(:tag => nil), :class => 'o-button u-destructive o-link--with-icon') do -%>
      <%= h(params[:tag]) %> <%= image_tag('delete-icon.svg') %>
    <%- end -%>
  </li>
  <%- end -%>
  <li>Sorted By: <%= select_tag('order', sort_options, :onChange => "window.location=App.gifts.replaceOrder(this.value);") %></li>
</ul>

<div id='gift__list' class='o-flex-container'>
  <%= render :partial => 'gift', :collection => @gifts %>
</div>

<div id='infinite-scroll'>
  <%= will_paginate %>
</div>
