<% content_for :head do %>
  <%= stylesheet_link_tag '//code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css' %>
<% end %>

<h1><%= (current_user != page_user) ? possessivize(page_user.display_name) : 'My' %> Friends</h1>

<ul class='c-item__actions o-flex-container--horizontal'>
  <li>
    <%= form_tag user_friends_path(current_user) do %>
      <input id='friend-autocomplete' name='friend_login' type='text' size='40' placeholder="Start typing a friend's name..."/>
      <%= submit_tag 'Add', :class => 'o-button' %>
    <%- end -%>
  </li>
  <li><%= link_to 'Export', export_friends_path, :class => 'o-button' %></li>
</ul>

<div id='friend__list' class='o-flex-container'>
  <%= render :partial => 'friend', :collection => @friends %>
</div>

<div id='infinite-scroll'>
  <%= will_paginate %>
</div>

<%- content_for :javascript do -%>
  <%= javascript_include_tag '/assets/v2/users.js' %>
<%- end -%>
