<% content_for :head do %>
  <%= stylesheet_link_tag '//code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css' %>
<% end %>

<% if current_user != page_user %>
<h2><%= possessivize(page_user.display_name) %> Friends</h2>
<% end %>

<ul id='friend-menu' class='c-item__actions o-flex-container--horizontal'>
  <li>
    <%= form_tag user_friends_path(current_user) do %>
      <input id='friend-autocomplete' name='friend_login' type='text' size='40' placeholder="Start typing a friend's name..."/>
      <%= submit_tag 'Add', :class => 'o-button' %>
    <%- end -%>
  </li>
  <li><%= link_to 'Export', export_friends_path, :class => 'o-button' %></li>
</ul>

<div id='friend-list' class='o-flex-container'>
  <%= render :partial => 'friend', :collection => @friends %>
</div>

<%- content_for :footer do -%>
  <%= javascript_include_tag '/assets/v2/users.js' %>
<%- end -%>
