<%= form.label :login %>:
<%= form.text_field :login %><br/>
<br/>
<%= form.label :password, form.object.new_record? ? nil : "Change password" %>:
<%= form.password_field :password %><br/>
<br/>
<%= form.label :password_confirmation %>:
<%= form.password_field :password_confirmation %><br/>
<br/>
<%= form.label :notes %><br/>
<%= form.text_area :notes, :rows=>5 %><br/>
<hr/>

<h3>Contact Information</h3>
<%= form.label :email %>: <%= form.text_field :email %><br/>
<p>I want to be notified <%= form.text_field :lead_time, :size=>2 %> days prior to event.</p>
<p>I want to be nofified every <%= form.text_field :lead_frequency, :size=>2 %> days.</p>
<hr/>

<% if current_user.try(:admin?) %>
  <br/>
  <%= form.label :role %>:
  <%= form.text_field :role %><br/>
<% end %>
