<h1>Edit My Account</h1>
<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit 'Update' %>
<% end %>
<%= button_to 'Close Account', @user, :confirm => 'Are you sure you want to close your account?', :method => :delete %>
