<h1>Home</h2>

<%#= link_to 'Gifts', gifts_path %><br/>
<%= link_to 'Settings', edit_user_path(page_user) %><br/>
<%= link_to 'Events', user_events_path(page_user) %><br/>
<%= link_to 'Occasions', user_occasions_path(page_user) %><br/>
<%= link_to 'Reminders', user_reminders_path(page_user) %><br/>
<%= link_to 'Logout', logout_path %><br/>
