<%= form_with(:model => user) do |form| %>
<% if user.errors.any? %>
  <div id="error_explanation" class='c-item'>
    <h2><%= pluralize(user.errors.count, "error") %> prohibited your settings from being saved:</h2>
    <ul>
      <% user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class='o-flex-container--vertical'>
    <fieldset class='c-item o-flex-item o-flex-container'>
      <legend>Login Information</legend>

        <div class='o-flex-container--horizontal u-full-width'>
          <%= form.label :login, 'Login:' %>
          <%= form.text_field :login, :class => 'o-flex-grow' %>
        </div>

        <div class='o-flex-container--horizontal u-full-width'>
          <%= form.label :password, user.new_record? ? nil : "Password" %>:
          <%= form.password_field :password, :class => 'o-flex-grow' %>
        </div>

        <div class='o-flex-container--horizontal u-full-width'>
          <%= form.label :password_confirmation, 'Confirmation' %>:
          <%= form.password_field :password_confirmation, :class => 'o-flex-grow' %>
        </div>
    </fieldset>

    <fieldset class='c-item o-flex-item o-flex-container--vertical'>
      <legend>Preferences</legend>

      <%= form.label :notes, 'Notes:' %>
      <%= form.text_area :notes, :id => 'user__notes', :rows => 8  %>

      <div class='o-flex-container--horizontal'>
        <%= form.label :ui_version, 'UI Version' %>:
        <%= form.select :ui_version, [['default', ''], ['v2', '2']] %>
      </div>
    </fieldset>

    <fieldset class='c-item o-flex-item o-flex-container--vertical'>
      <legend>Contact Information</legend>

      <div class='o-flex-item o-flex-container--horizontal'>
        <%= form.label :email, 'Email:' %>
        <%= form.text_field :email, :class => 'o-flex-grow' %>
      </div>

      <div id='user__notification-frequency'>
        I want to be notified every <%= form.text_field :lead_frequency, :id => 'user__lead-frequency' %> days<br/>
        for <%= form.text_field :lead_time, :id => 'user__lead-time' %> days prior to an event.
      </div>
    </fieldset>

    <% if current_user.try(:admin?) %>
      <fieldset class='c-item o-flex-item o-flex-container'>
        <legend>Admin Information</legend>
        <div class='o-flex-container--horizontal'>
          <%= form.label :role %>:
          <%= form.collection_select :role, User.roles, :to_s, :to_s %>
        </tr>
        </div>
      </fieldset>
    <% end %>

    <ul class='c-item__actions o-flex-container--horizontal'>
      <label>Actions</label>:
      <li><%= form.submit 'save', :class => 'o-button' %></li>
      <li><%= link_to_function 'cancel', 'history.back()' %></li>
    <%- unless user.new_record? -%>
      <li>
        <%= delete_link_to user_path(user), :text => 'close account', :class => 'o-button u-destructive',
                                            :confirm => 'Are you sure you want to close your account?'
        %>
      </li>
    <%- end -%>
  </div>
<% end # form %>
