<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <head>
    <title><%= @page_title || 'The Internet Gift Registry' %></title>

    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <%= csrf_meta_tags -%>
    <%= csp_meta_tag -%>

    <%= stylesheet_link_tag    'application-v2', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendor', 'data-turbolinks-track': 'reload' %>

    <%= yield :head -%>
  </head>

  <body class='is-right-handed'>
    <header id='site-header'>
      <% if current_user %>
      <nav id='site-nav'>
        <button id='site-nav__toggle' type='button' aria-label='Open or close navigation menu'
          onClick="window.site_nav.onToggleClicked(this)"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>

        <ul id='site-nav__links'>
          <li><%= link_to_unless_current 'My Gifts', gifts_path %></li>
          <li><%= link_to_unless_current 'My Friends', friends_path %></li>
          <li id='site-nav__events-dropdown' class='o-site-nav__dropdown'>
            <%= link_to_unless_current 'My Events', events_path %>
            <ul>
              <li><%= link_to_unless_current 'My Occasions', occasions_path %></li>
              <li><%= link_to_unless_current 'My Reminders', reminders_path %></li>
            </ul>
          </li>
          <li><%= link_to_unless_current 'My Settings', settings_path %></li>
        <%- if current_user.admin? -%>
          <li><%= link_to_unless_current 'Users', users_path %></li>
        <%- end -%>
          <li id='site-nav__about-dropdown' class='o-site-nav__dropdown'>
            <%= link_to_unless_current 'About', about_path %>
            <ul>
              <li><a href='mailto:registry@stdmn.com?subject=Suggestion' class='o-link--with-icon'>
                  Suggestion <%= image_tag('email-icon.svg') %>
              </a></li>
              <li><a href='mailto:registry@stdmn.com?subject=Contact' class='o-link--with-icon'>
                  Contact Me <%= image_tag('email-icon.svg') %>
              </a></li>
            </ul>
          </li>
          <li><%= link_to_unless_current 'Logout', logout_path %></li>

          <li id='site-nav__move'><button onClick="window.site_nav.onMoveClicked(this)"/></li>
        </ul>
      </nav>
      <%- end # current_user -%>

      <%= yield :header -%>
    </header>

    <main id='site-main'>
      <%= yield -%>
    </main>

    <footer id='site-footer'>
      <em id='copyright'>Copyright &copy; <time>1998</time> - <time><%= Time.now.year %></time>, Steadman Enterprises, Inc.</em>
      <%= yield :footer -%>
    </footer>

    <div id='site-modal' aria-hidden='true'>
      <div id='site-modal__overlay' tabindex='-1' data-micromodal-close>
        <div id='site-modal__dialog' role='dialog' aria-model='true' aria-labelledby='site-modal__title'>
          <header>
            <h2 id='site-modal__title'></h2>
          </header>
          <main id='site-modal__content'></main>
          <footer>
            <button id='site-modal__ok-button' aria-label='Close modal' data-micromodal-close>Ok</button>
          </footer>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

    <%= javascript_include_tag 'application-v2' %>

    <script src='https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.js'></script>
    <script>
      MicroModal.init();

      window.showErrorDialog = function(title, message) {
        var titleElement = document.getElementById('site-modal__title');
        titleElement.innerText = title;

        var contentElement = document.getElementById('site-modal__content');
        contentElement.classList.add('is-error');
        contentElement.innerText = message;

        MicroModal.show('site-modal', {
          // prevent click from passing through to button/link beneath dialog
          onClose: function(modal, element, event) {event.preventDefault()},
        });
      }

      window.onAjaxSuccess = function(event, payload, result, request) {
        var target = this.getAttribute('data-replace-target');
        if(target) {
          $('#'+target).replaceWith(payload);
        }
      }

      $(document).on('ajax:success', 'form[data-replace-target]', window.onAjaxSuccess)

    </script>

  </body>
</html>
