<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <head>
    <title><%= @page_title || 'The Internet Gift Registry' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head -%>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <!--link rel="icon" href="/icon.png" type="image/png" -->
    <!--link rel="icon" href="/icon.svg" type="image/svg+xml" -->
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%#= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'jquery-ui', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag :v2, media: 'all', 'data-turbo-track': 'reload' %>
  </head>

  <body class='is-right-handed'>
    <header id='site-header'>
      <% if current_user %>
      <nav id='site-nav'>
        <button id='site-nav__toggle' type='button' aria-label='Open or close navigation menu'
          onClick="App.site_nav.onToggleClicked(this)"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>

        <ul id='site-nav__links'>
          <li><%= link_to_unless_current 'My Gifts', gifts_path %></li>
          <li><%= link_to_unless_current 'My Friends <sub id="site-nav__friend-count"></sub>'.html_safe, friends_path %></li>
          <li id='site-nav__events-dropdown' class='o-site-nav__dropdown'>
            <%= link_to_unless_current 'My Events', events_path %>
            <ul>
              <li><%= link_to_unless_current 'My Occasions', occasions_path %></li>
              <li><%= link_to_unless_current 'My Reminders', reminders_path %></li>
            </ul>
          </li>
          <li><%= link_to_unless_current 'My Settings', settings_path %></li>
        <%- if current_user.admin? -%>
          <li><%= link_to_unless_current 'Users', users_path %></li>
        <%- end -%>
          <li id='site-nav__about-dropdown' class='o-site-nav__dropdown'>
            <%= link_to_unless_current 'About', about_path %>
            <ul>
              <li><a href='mailto:registry@stdmn.com?subject=Suggestion' class='o-link--with-icon'>
                  Suggestion <%= image_tag('email-icon.svg') %>
              </a></li>
              <li><a href='mailto:registry@stdmn.com?subject=Contact' class='o-link--with-icon'>
                  Contact Me <%= image_tag('email-icon.svg') %>
              </a></li>
            </ul>
          </li>
          <li><%= link_to_unless_current 'Logout', logout_path %></li>

          <li id='site-nav__move'><button onClick="App.site_nav.onMoveClicked(this)"/></li>
        </ul>
      </nav>
      <%- end -%>

      <%= yield :header -%>
    </header>

    <main id='site-main'>
      <%= yield -%>
    </main>

    <footer id='site-footer'>
      <em id='copyright'>Copyright &copy; <time>1998</time> - <time><%= Time.now.year %></time>, Steadman Enterprises, Inc.</em>
      <%= yield :footer -%>
    </footer>

    <div id='site-modal' aria-hidden='true'>
      <div id='site-modal__overlay' tabindex='-1' data-micromodal-close>
        <div id='site-modal__dialog' role='dialog' aria-model='true' aria-labelledby='site-modal__title'>
          <header>
            <h2 id='site-modal__title'></h2>
          </header>
          <main id='site-modal__content'></main>
          <footer>
            <button id='site-modal__ok-button' aria-label='Close modal' data-micromodal-close>Ok</button>
          </footer>
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'turbo', :type => :module, :crossorigin => 'anonymous' %>
    <%= javascript_include_tag 'actioncable' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= javascript_include_tag :v2 %>

  <%- if current_user -%>
    <script>
      App.presence.myUserId = '<%= current_user.id %>';
    </script>
  <%- end -%>
  </body>
</html>
