<table>
  <tr>
    <td><%= form.label :description %></td>
    <td><%= form.text_field :description %></td>
  </tr>
  <tr>
    <td><%= form.label :date %></td>
    <td><%= form.date_select :event_date %></td>
  </tr>
  <tr>
    <td><%= form.label :recurring %></td>
    <td><%= form.check_box :recur %></td>
  </tr>
</table>
