<h1>Create <%= event_type %></h1>

<% form_for(:event, @event, :url=>index_path) do |f| %>
  <%= f.error_messages %>
  <%= render :partial=>'form', :object=>f %>
  <p><%= f.submit 'Create' %></p>
<% end %>

<%= link_to_function 'Back', 'history.back();' %>
