<div id='event-<%= event.id %>' class='c-item o-flex-item'>

  <h2 class='c-item__description'>
    <%= h event.description %>
    <% if params[:controller].ends_with?('events') -%>
      (<%= event.class.name %>)
    <% end -%>
  </h2>

  <div class='o-flex-container--horizontal'>
    <% if event.recur %>
      <label>Every:</label>
      <time><%= event.event_date.strftime('%B %d') %></time>
    <%- else -%>
      <label>On:</label>
      <time><%= event.event_date.to_formatted_s(:long) %></time>
    <%- end -%>
  </div>

  <div class='o-flex-container--horizontal'>
    <label>Recurring</label>:
    <%= event.recur ? 'Yes' : 'No' %>
  </div>

  <ul class='c-item__actions o-flex-container--horizontal'>
    Actions:
    <li><%= link_to_function 'edit', "App.events.onEditClicked(#{event.id}, '#{edit_user_event_path(page_user, event)}')", :rel => 'nofollow', :class => 'o-button' %></li>
    <li><%= delete_link_to delete_path(event), :text => 'remove', :class => 'o-button u-destructive',
                                               :confirm => "Are you sure you want to remove this #{event.event_type}?"
        %>
    </li>
  </ul>

</div>
