<%- div_id = "event-#{event.new_record? ? 'new' : event.id}" -%>

<div id='<%= div_id %>' class='c-item o-flex-item'>
<%= form_with(:model => [page_user, event], :local => false, :data => {'replace-target' => div_id}) do |form| %>

  <h2><%= form.text_field :description, :placeholder => 'Enter a description', :size => 40 %></h2>

  <div>
    <%= form.label :recurring %>:
    <%= form.check_box :recur %>
  </div>

  <div>
    <%= form.label :date, :id => 'event__date-label' %>:
    <%= form.date_select :date, :start_year => Date.today.year, :end_year => Date.today.year + 10 %>
  </div>

  <ul class='c-item__actions o-flex-item--centered o-flex-inline'>
    Actions:
    <li><%= form.submit (event.new_record? ? 'create' : 'update'), :onClick => 'window.events.showMenu()', :class => 'o-button' %></li>
    <li>
    <%-
      if event.new_record?
        cancel_func = 'window.events.onCancelCreateClicked()'
      else
        cancel_func = "window.events.onCancelEditClicked('#{div_id}', '#{user_event_path(page_user, event)}')"
      end
    -%>
      <button type='button' class='o-button u-destructive', onClick="<%= cancel_func %>">cancel</button>
    </li>
  </ul>
<% end %>
</div>
