<h1><%= (current_user != page_user) ? possessivize(page_user.display_name) : 'My' %> <%= event_type.pluralize %></h1>

<ul id='event-menu' class='c-item__actions o-flex-container--horizontal'>
  <li><%= link_to('Add Occasion', '#', :onClick => "window.events.onAddOccasionClicked('#{new_user_occasion_path(page_user)}');return false;", :class => 'o-button') unless params[:controller].ends_with?('reminders') %></li>
  <li><%= link_to('Add Reminder', '#', :onClick => "window.events.onAddReminderClicked('#{new_user_reminder_path(page_user)}');return false;", :class => 'o-button') unless params[:controller].ends_with?('occasions') %></li>
</ul>

<ul id='event-list' class='o-flex-container'>
  <%= render :partial => 'event', :collection => @events %>
</ul>

<%- content_for :javascripts do -%>
  <%= javascript_include_tag '/assets/v2/events.js' %>
<%- end -%>
