<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <title><%= @page_title || 'The Internet Gift Registry' %></title>
    <%= stylesheet_link_tag 'http://yui.yahooapis.com/combo?2.7.0/build/fonts/fonts-min.css&2.7.0/build/grids/grids-min.css' %>
    <%#= stylesheet_link_tag 'scaffold' %>
    <%= yield :head %>
  </head>
  <body>
    <div id='doc3'>
      <div id='hd'>
        <%= yield :header %>
      </div>
      <div id='bd'>
        <div class='yui-gf'>
          <div class='yui-u first'>
            <%= render :partial=>'layouts/navigation' if logged_in? %>
            <%= yield :left %>
          </div>
          <div class='yui-u'>
            <%= render :partial=>'layouts/flashes' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <div id='ft'>
        <%= render :partial=>'layouts/footer' %>
        <%= yield :footer %>
      </div>
    </div>
  </body>
</html>
