<%= form_with(:model => [page_user, gift]) do |form| %>
  <% if gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
        <% gift.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th><%= form.label :tags %></th>
      <td><%= text_field_tag 'gift[tag_names]', gift.tag_names.join(' ') %></td>
    </tr>
    <tr>
      <th><%= form.label :description %></th>
      <td><%= form.text_field :description, :size => 40 %></td>
    </tr>
    <tr>
      <th><%= form.label :url, 'URLs' %></th>
      <td><%= form.text_field :url, :size => 40 %></td>
    </tr>
    <tr>
      <th><%= form.label :price %></th>
      <td><%= form.text_field :price %></td>
    </tr>
    <tr>
      <th><%= form.label :multi %></th>
      <td><%= form.check_box :multi %></td>
    </tr>
  <% if current_user != gift.user %>
    <tr>
      <th><%= form.label :secret %></th>
      <td><%= form.check_box :secret %></td>
    </tr>
  <% end %>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
