<%= @errors %>
<% if current_user != page_user %>
<h1><%= possessivize(page_user.display_name) %> Gifts</h1>
<% end %>
<h2>Notes:</h2>
<pre><%= page_user.notes %></pre>
<%= gift_list_actions %>
<%= render :partial=>'layouts/pagination', :object=>@gifts %>
<table border='1' width='100%'>
  <tr>
    <th>
      Tags
      <%= link_to '(see_all)', url_for(:tag => nil) if params[:tag] %>
    </th>
    <th><%= sortable_column_header('Description', 'description') %></th>
    <th>Multi</th>
    <th><%= sortable_column_header('Price', 'price') %></th>
<% if page_user != current_user %>
    <th>Intent</th>
<% end %>
    <th>Actions</th>
  </tr>
  <%= render :partial=>'gift', :collection=>@gifts %>
</table>
