<%= @errors %>
<% if current_user != page_user %>
<h1><%= possessivize(page_user.display_name) %> Gifts</h1>
<% end %>
<h2>Notes:</h2>
<pre><%= page_user.notes %></pre>
<%= link_to 'New', new_user_gift_path(page_user) if page_user == current_user %> |
<%= link_to 'View All', user_gifts_path(page_user, :per_page=>@gifts.total_entries) if @gifts.total_pages > 1 %> |
<%= link_to 'Export', user_gifts_path(page_user, :format=>'csv') %>
<%= render :partial=>'layouts/pagination', :object=>@gifts %>
<table border='1' width='100%'>
  <tr>
    <th>
      Tags
      <%= link_to '(see_all)', url_for(:overwrite_params => {:tag => nil}) if params[:tag] %>
    </th>
    <th><%= sortable_column_header('Description', 'description') %></th>
    <th>Multi</th>
    <th><%= sortable_column_header('Price', 'price') %></th>
<% if page_user != current_user %>
    <th>Intent</th>
<% end %>
    <th>Actions</th>
  </tr>
  <%= render :partial=>'gift', :collection=>@gifts %>
</table>
