<h1>Welcome</h1>

<div class='o-flex-container'>
  <%= render :partial => 'about' %>

  <%= form_with(:model => @user_session, :url => user_session_path, :class => 'c-item o-flex-item o-flex-container o-flex-inline o-flex-2-col') do |form| %>
    <% if @user_session.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited you from logging in:</h2>

        <ul>
          <% @user_session.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :login %>
    <%= form.text_field :login %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <span id='remember-me'><%= form.check_box :remember_me %> <%= form.label :remember_me %></span>
    <%= form.submit "Login" %>

    <%= link_to 'Sign up', new_user_path %>
  <% end %>

</div>
