<div class='o-flex-container--centering'>
  <h1>Welcome</h1>

  <%= render :partial => 'users/about' %>

  <div id='login-form' class='c-item o-flex-container'>
  <%= form_with(:model => @user_session, :url => user_session_path, :class => 'o-flex-container--vertical o-flex-grow') do |form| %>
    <% if @user_session.errors.any? %>
      <div class='o-flex-container--centering'>
        <h2>Login Failed</h2>

        <ul class='u-no-bullets'>
          <% @user_session.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='o-flex-container--horizontal'>
      <%= form.label :login %>
      <%= form.text_field :login %>
    </div>

    <div class='o-flex-container--horizontal'>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class='o-flex-container--horizontal'>
      <%= form.label :remember_me %>
      <%= form.check_box :remember_me %>
    </div>

    <div class='c-item__actions o-flex-container--horizontal'>
      <%= link_to_function 'Login', "'nearest', $(this.closest('form')).submit()" %>
      <span>or</span>
      <%= link_to 'Sign up', new_user_path %>
    </div>
  <% end %>

</div>
